body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

@font-face {
  font-family: Lausanne 300;
  src: url('../fonts/500/Lausanne-300.eot');
  src: url('../fonts/500/Lausanne-300.woff') format('woff'),
       url('../fonts/500/Lausanne-300.woff2') format('woff2'),
       url('../fonts/500/Lausanne-300.svg') format('svg'),
       url('../fonts/500/Lausanne-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: Lausanne 500;
    src: url('../fonts/500/Lausanne-500.eot');
    src: url('../fonts/500/Lausanne-500.woff') format('woff'),
         url('../fonts/500/Lausanne-500.woff2') format('woff2'),
         url('../fonts/500/Lausanne-500.svg') format('svg'),
         url('../fonts/500/Lausanne-500.ttf') format('truetype');
    font-weight:500;
    font-style: normal;
}

@font-face {
    font-family: Lausanne 800;
    src: url('../fonts/500/Lausanne-800.eot');
    src: url('../fonts/500/Lausanne-800.woff') format('woff'),
         url('../fonts/500/Lausanne-800.woff2') format('woff2'),
         url('../fonts/500/Lausanne-800.svg') format('svg'),
         url('../fonts/500/Lausanne-800.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

.container {
  display: flex;
  height: 100%;
  margin: 40px;
  background-color: #f5f5f5;
}

/* .cont-vid{
  padding: 40px;
  background-image: url(../assets/start_bg.svg);
  background-size: 22%;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
} */

.cont-text{
  width: 50%;
  padding: 40px 80px 80px 80px;
  background-image: url(../assets/start_bg.svg);
  background-size: 25%;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
}

.cont-text2{
  width: 50%;
  flex-grow: 1;
  padding: 40px 40px 80px 40px;
  background-image: url(../assets/start_bg2.svg);
  background-size: 50%;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
}

#p-header{
  padding-top: 40px;
  padding-bottom: 12px;
  font-family: 'Lausanne 800', Arial, sans-serif;
  font-size: 24px;
  color: #000000;
}

#p-body{
  font-family: 'Lausanne 300', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #313131;
}

.gen-link{
  cursor: pointer;
  text-decoration: none;
  background-image: url(../assets/gen_link.svg);
  background-size: 14px 14px;
  background-position: 60px 10px;
  background-repeat: no-repeat;
  font-family: 'Lausanne 500', Arial, sans-serif;
  font-size: 14px;
  width: 50px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  margin-top: 40px;
  float: right;
  background-color: #009d00;
}

.gen-link:hover {
  background-color: #318e00;
}

#p-body a{
  cursor: pointer;
  text-decoration: none;
  font-family: 'Lausanne 500', Arial, sans-serif;
  color: #009d00;
}

.p-header-list{
  display: flex;
  margin-bottom: 16px;
}

#p-num{
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  padding-top: 12px;
  text-align: center;
  background-image: url(../assets/circle_green.svg);
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  font-family: 'Lausanne 800', Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
}

#p-title-list{
  font-family: 'Lausanne 800', Arial, sans-serif;
  font-size: 14px;
  color: #313131;
  padding-top: 10px;
  padding-left: 16px;
}

#p-subtitle-list{
  font-family: 'Lausanne 300', Arial, sans-serif;
  font-size: 13px;
  color: #313131;
  padding-top: 4px;
}